## Exercise 6.1. Sourcing Open Data

### Importing nessesary libraries and dataset

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
### Set path
path = r'C:\Users\User\Downloads\Achievement 6'

In [3]:
df=pd.read_csv(os.path.join(path, 'flavors_of_cacao.csv'))

In [4]:
df.head()

,Company (Maker-if known),Specific Bean Origin or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,NaN,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,NaN,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,NaN,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,NaN,Peru

In [5]:
### Checking for missing values
df.isnull().sum()

Company (Maker-if known)              0
Specific Bean Origin or Bar Name      0
REF                                   0
Review Date                           0
Cocoa Percent                         0
Company Location                      0
Rating                                0
Bean Type                           888
Broad Bean Origin                     1
dtype: int64

In [6]:
### There are 888 missing values in the "bean type" column. As this column is irrelevant for my analisys, I will remove it 
df=df.drop(columns=['Bean Type'])

In [7]:
df.columns

Index(['Company (Maker-if known)', 'Specific Bean Origin or Bar Name', 'REF',
       'Review Date', 'Cocoa Percent', 'Company Location', 'Rating',
       'Broad Bean Origin'],
      dtype='object')

In [8]:
### Deleting the row containing missing value in the "Broad Bean Origin" column
df = df.dropna(subset=['Broad Bean Origin'])

In [9]:
### Checking for missing values again
df.isnull().sum()

Company (Maker-if known)            0
Specific Bean Origin or Bar Name    0
REF                                 0
Review Date                         0
Cocoa Percent                       0
Company Location                    0
Rating                              0
Broad Bean Origin                   0
dtype: int64

In [10]:
### Checking for duplicates
df_dups = df[df.duplicated()]

In [11]:
df_dups

Empty DataFrame
Columns: [Company (Maker-if known), Specific Bean Origin or Bar Name, REF, Review Date, Cocoa Percent, Company Location, Rating, Broad Bean Origin]
Index: []

### There are no duplicates in the dataset

In [12]:
### Checking data types
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1794 entries, 0 to 1794
Data columns (total 8 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Company (Maker-if known)          1794 non-null   object
 1   Specific Bean Origin or Bar Name  1794 non-null   object
 2   REF                               1794 non-null   int64
 3   Review Date                       1794 non-null   int64
 4   Cocoa Percent                     1794 non-null   object
 5   Company Location                  1794 non-null   object
 6   Rating                            1794 non-null   float64
 7   Broad Bean Origin                 1794 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 126.1+ KB

### "Cocoa Percent" column has the type "object" instead of "float64"

In [13]:
### Fixing the datatype issue
df['Cocoa Percent'] = df['Cocoa Percent'].str.replace('%', '').astype(float)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1794 entries, 0 to 1794
Data columns (total 8 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Company (Maker-if known)          1794 non-null   object
 1   Specific Bean Origin or Bar Name  1794 non-null   object
 2   REF                               1794 non-null   int64
 3   Review Date                       1794 non-null   int64
 4   Cocoa Percent                     1794 non-null   float64
 5   Company Location                  1794 non-null   object
 6   Rating                            1794 non-null   float64
 7   Broad Bean Origin                 1794 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 126.1+ KB

In [16]:
### Exporting dataframe with clean data 
df.to_csv(os.path.join(path,'flavors_of_cacao_cleaned.csv'))